<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <meta charset="utf-8" >
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
<main>

    <ul>
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="courseList.html">Courses</a></li>
        <li><a href="educationCertification.html">About</a></li>
        <li><a href="experience.html">Help</a></li>
        <li><a href="login.html">Log In</a></li>

    </ul>

    <h1 id="header1"> Fast Learning</h1>
    <div class="whitespace"></div>
    <div class="whitespace"></div>

    <article>

        <p><strong>Authentication</strong><br><br>
            Authentication is "the process of verifying the identification of the user or process.
            " The first step is making a claim about identity - the user saying who they are.
            In most systems, this involves the user providing some sort of username.
            Authentication is then the mechanism to determine whether the user really is who they say they are.
            Authentication is generally followed by authorization, or granting permission to access an account,
            information, or set of resources to that user or process. Thus, authentication is a primary means for
            protecting the security and privacy of people's accounts and information. Authentication is also one
            of the most common security mechanisms that users encounter.

        </p>

        <P>Authentication relies on 3 ways in which users can provide information for systems to verify.
            Theses are:
            Something you know. This is a shared secret - something that the user knows or remembers
            that they provide to the system. Passwords and PINs fall into this category.
            Something you are. Some representation of the person or their behavior, such as a fingerprint,
            face scan or other biometrics.
            Something you have. These are items that the user owns that are difficult to replicate, such
            as a mobile phone, a badge, or a USB token</P>




        <div class="whitespace"></div>

    </article>
    <div class="whitespace1"></div>

    <div class="whitespace"></div>
    <div class="whitespace"></div>




    <div class="whitespace"></div>
</main>
</body>

<footer>
    <section class="bottom">
        <ul>

            <li><a href="addressLink_PlaceHolder">Link for Professors/TAs</a></li>
            <li><a href="addressLink_PlaceHolder">Link for Moderator</a></li>
            <li><a href="addressLink_PlaceHolder">Link for Admin</a></li>
            <li><a href="addressLink_PlaceHolder">How to be a Moderator</a></li>
            <li><a href="addressLink_PlaceHolder">Contact Us</a></li>


        </ul>

        <br> Copyright © 2022 Fast Learning</a>
    </section>
</footer>

</html>