<footer class="footer py-3 bg-dark">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <span class="text-muted">Copyright @ 2021<br>Fast Learning</span>
            </div>
            <div class="col col-lg-2">
                <a class="btn btn-secondary" href="/" role="button" style="width: 100%">Professors/TAs</a>
            </div>
            <div class="col col-lg-2">
                <a class="btn btn-secondary btn-block" href="/" role="button" style="width: 100%">Administration</a>
            </div>
            <div class="col col-lg-2">
                <a class="btn btn-secondary btn-block" href="/" role="button" style="width: 100%">Contact Us</a>
            </div>
        </div>
    </div>
</footer>