<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link th:replace="fragments/headLink">
  <title>Fast Learning - Index</title>
</head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <div th:replace="fragments/navbarLink"></div>
      <div class="container-sm">
        <center><h1>About Us</h1></center>
        <h2>Our Vision</h2>
        <p>We strive in making learning fast and easy through helpful resources provided by students for students!</p>
        <h2>About Fast Learning</h2>
        <p>It’s where students come together to help each other in order to achieve a better understanding of the course material and assignments provided by instructors. Think of Fast Learning as a place where students can share notes, reference guides or aids to help you learn fast!</p>
        <h2>Why did we create Fast Learning?</h2>
        <p>Programming, coding and languages are just a few of the topics a Computer Science program student will learn while in school. Students can be overwhelmed with the concepts and feel the need to turn to additional resources to help compliment study routines. Searching the internet can yield multiple results without taking into consideration the quality and adequacy of what is being posted. With so many results, the student now needs to comb through multiple finds and try to find one that is fairly recent and aligns to the class topics.</p>
        <h2>Why is Fast Learning different?</h2>
        <p>We provide a student focused platform that provides the best resources aligned to course content to help students excel in class. A platform that is built differently than other educational aid sites because of the partnership between users and contributors. This application provides students a place to search specific courses and instructors to quickly find reliable sources to study with and excel in school. This offers users a student support that is geared towards the right type of help students need and allows them to focus on studying and not hunting for resources.</p>
        <h2>Founders</h2>
        <p>A team of 5 students came together to brainstorm an assignment topic and Fast Learning was born. The names behind the site:</p>
        <ul>
          <li>Josue Sanchez</li>
          <li>Elijah Monroe</li>
          <li>Caleb Pearman</li>
          <li>Devon Faryadi</li>
          <li>Prem Patel</li>
        </ul>
      </div>
    </main>
    <div th:replace="fragments/footerLink"></div>
    <div th:replace="fragments/scriptLink"></div>
  </body>
</html>