<!DOCTYPE html>
<html lang="en">
<head>
    <title>Courses</title>
    <meta charset="utf-8" >
    <link rel="stylesheet" type="text/css" href="css/courses.css">
</head>

<body>
<main>

    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="courseList.html">Courses</a></li>
        <li><a href="educationCertification.html">About</a></li>
        <li><a href="experience.html">Help</a></li>
        <li><a href="experience.html">Log In</a></li>

    </ul>

    <div class="sidebar">
        <a href="index.html">Home</a></li>
        <a href="Courses.html">Courses</a>
        <a href="educationCertification.html">About</a>
        <a href="experience.html">Help</a>
        <a href="experience.html">Log In</a>
    </div>

    <div class="main">
        <h1><center> Course Title </center></h1>

        <article>
            <h2>Videos for course</h2>
            <p><p><center><iframe width="60%" height="500px" src="(video)"></iframe></center></p></p>
            <p><center>Short video summary</center></p><br>

            <h2>Other links</h2>
            <a href="(url)"><center>Source1</center></a>
            <a href="(url)"><center>Source2</center></a>
            <a href="(url)"><center>Source3</center></a>
            <div class="whitespace"></div>

        </article>
    </div>
    <div class="whitespace1"></div>

    <div class="whitespace"></div>
    <div class="whitespace"></div>




    <div class="whitespace"></div>
</main>
</body>

<footer>
    <section class="bottom">
        <ul>

            <li><a href="addressLink_PlaceHolder">Link for Professors/TAs</a></li>
            <li><a href="addressLink_PlaceHolder">Link for Moderator</a></li>
            <li><a href="addressLink_PlaceHolder">Link for Admin</a></li>
            <li><a href="addressLink_PlaceHolder">How to be a Moderator</a></li>
            <li><a href="addressLink_PlaceHolder">Contact Us</a></li>


        </ul>

        <br> Copyright © 2022 Fast Learning
    </section>
</footer>

</html>