<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fast Learning - Index</title>
        <link href="index-new.css" rel="stylesheet">
    </head>
    <body>
    <div class=grid>
        <div class="title">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/courseList">Courses</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Help</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </div>
        <div class="header">
            <h1 id="mainHeader">Fast Learning</h1>
            <p id="subheader">Learning Made Easy</p>
        </div>
        <div class="searchBar">
            <form th:action="@{/results}">
                <center>
                <label for="query">Search</label>
                <input type="text" th:value="${query}" id="query" name="query" class="form-control" aria-describedby="query">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </center>
            </form>
        </div>
        <div class="sidebar">
            <div class="btn-group">
                <button><strong>Instructors</strong></button>
                <div th:each="course:${courses}">
                    <button><a th:href="@{/course/{id}(id=${course.getId()})}"><span th:text="${course.instructorName}" /></a></button>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="btn-group">
                <button><strong>Popular Courses</strong></button>
                <div th:each="course:${courses}">
                    <button><a th:href="@{/course/{id}(id=${course.getId()})}"><span th:text="${course.subject}" /></a></button>
                </div>
            </div>
        </div>
        <div class="footer">
            <section class="button">
                <ul>
                    <li><a href="addressLink_PlaceHolder">Link for Professors/TAs</a></li>
                    <li><a href="addressLink_PlaceHolder">Link for Moderator</a></li>
                    <li><a href="addressLink_PlaceHolder">Link for Admin</a></li>
                    <li><a href="addressLink_PlaceHolder">How to be a Moderator</a></li>
                    <li><a href="addressLink_PlaceHolder">Contact Us</a></li>
                </ul>
                <br> Copyright @ 2021 Fast Learning
            </section>
        </div>
    </div>
    </body>
</html>