<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:replace="fragments/headLink">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Fast Learning - Index</title>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <div th:replace="fragments/navbarLink"></div>
            <div class="grid">
                <div class="container-fluid border border-dark border-3 d-grid gap-2">
                    <div class="p-1 row">
                        <div class="col border border-dark border-3">
                            <center><h2 style="font-family: fantasy;">Learning Made Easy</h2></center>
                        </div>
                    </div>
                    <div class="p-1 row" style="height: 100vh; max-height: 120vh;">
                        <div class="p-2 col " id="popular">
                            <center><strong>Popular Courses</strong></center>
                            <div th:each="course:${courses}">
                                <a class="btn btn-secondary btn-lg btn-block" role="button"
                                   style="width: 100%; margin: 4px;" th:href="@{/course/{id}(id=${course.getId()})}"><span th:text="${course.subject}"/><br><small><span th:text="${course.name}"/></small></a>
                            </div>
                        </div>
                        <div class="p-2 col-6" id="search">
                            <center><strong>Search</strong></center>
                            <form th:action="@{/results}">
                                    <div class="row">
                                        <div class="col-md">
                                            <input type="search" class="form-control" id="query" name="query" th:value="${query}">
                                        </div>
                                        <div class="col-1">
                                            <button class="btn btn-primary mb-3" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                            </form>
                            <br><br>
                            <div align="center" th:each="search:${results}">
                                <a th:href="@{/course/{id}(id=${search.getId()})}"><u><h4><span th:text="${search.subject}"/> -<span th:text="${search.name}"/> - <span th:text="${search.instructorName}"/></h4>
                                </u></a><br>
                            </div>
                        </div>
                        <div class="p-2 col" id="subscribed">
                            <center><strong>Subscribed Courses</strong></center>
                            <div th:each="subscribed:${subscriptions}">
                                <a class="btn btn-secondary btn-lg btn-block"
                                   role="button" style="width: 100%; margin: 4px;"
                                   th:href="@{/course/{id}(id=${subscribed.getId()})}"><span th:text="${subscribed.subject}"/><br><small><span th:text="${subscribed.name}"/></small></a>
                            </div>
                            <div th:if="${loggedInUser == null}">
                                <center><h3>You must be logged in to see subscribed courses.</h3><br>
                                    <h4><a href="/login">Login</a> or <a href="/signup">Signup</a></h4></center>
                            </div>
                            <div th:if="${loggedInUser != null} and ${#lists.isEmpty(subscriptions)}">
                                <center><h3>No courses subscribed yet!</h3></center>
                            </div>
                        </div>
                    </div>
                    <div class="p-1 row justify-content-md-center fixed-bottom">
                        <div class="col col-lg-2">
                            <a class="btn btn-secondary" href="/" role="button" style="width: 100%">Professors/TAs</a>
                        </div>
                        <div class="col col-lg-2">
                            <a class="btn btn-secondary btn-block" href="/" role="button" style="width: 100%">Administration</a>
                        </div>
                        <div class="col col-lg-2">
                            <a class="btn btn-secondary btn-block" href="/" role="button" style="width: 100%">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="fragments/footerLink"></div>
        <div th:replace="fragments/scriptLink"></div>
    </body>
</html>