<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>index</title>
    <link rel="stylesheet" href="css/index-new.css">
    
    </head>
    
    <body>
      
      
      
    <div class=grid>
      <div class="title">
          
          <ul>
    <li><a class="active" href="index.html">Home</a></li>
    <li><a href="courseList.html">Courses</a></li>
    <li><a href="PlaceHolder.html">About</a></li>
    <li><a href="PlaceHolder.html">Help</a></li>
    <li><a href="login.html">Log In</a></li>

</ul>
        </div>
        
        
      <div class="header">
        
          <h1 id="mainHeader">Fast Learning</h1>
    
          <p id="subheader">Learning Made Easy</p>

        </div>
        
        
      <div class="searchBar">
          
          <p id="">Search Bar</p>
        
        </div>
        
        
      <div class="sidebar">
          

          <div class="btn-group">
  <button><strong>Instructors</strong></button>
  <button>Saad Hamdan</button>
  <button>Bojan Cukic</button>
  <button>Dr. Heather Lipford</button>
  <button>Mark Faust, Ph. D.</button>
  <button>Debarati Basu</button>                                                             
</div>
 </div> 
      <div class="content">
          <div class="btn-group">
 <button><strong>Popular Courses</strong></button>  
  <button>ITIS 3216</button>
  <button>ITIS 3320</button>
  <button>ITSC 4155</button>
  <button>ITIS 4420</button>
  <button>ITSC 4175</button>                                                             
</div>
        </div>  
      <div class="footer">
          
 
    
     <section class="button">
<ul>

    <li><a href="addressLink_PlaceHolder">Link for Professors/TAs</a></li>
    <li><a href="addressLink_PlaceHolder">Link for Moderator</a></li>
    <li><a href="addressLink_PlaceHolder">Link for Admin</a></li>
    <li><a href="addressLink_PlaceHolder">How to be a Moderator</a></li>
    <li><a href="addressLink_PlaceHolder">Contact Us</a></li>


</ul>
         <br> Copyright @ 2021 Fast Learning

    </section>
        
        </div>
    
    </div>
      
    
  </body>
   
   
</html>
    