<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fast Learning - Login</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class=grid>
            <div class="title">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/courseList">Courses</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Help</a></li>
                    <li><a class="active" href="/login">Log In</a></li>
                </ul>
            </div>
            <div class="header">
                <h1>Fast Learning</h1>
                <p id="subheader">Learning Made Easy</p>
            </div>
            <div class="searchBar">
                <p id="">Search Bar</p>
            </div>
            <div class="sidebar">
                <p2><strong>Log In</strong>
                    <form>
                        <p2><center><br>
                            <label><b>Username:  </b></label>
                            <input type="text" placeholder="Enter Username" name="username" required><br><br>
                            <label><b>Password:  </b></label>
                            <input type="text" placeholder="Enter Password" name="password" required><br><br>
                            <input type="button" name="submit" id="submit" value="Log In"><br><br>
                        </center>
                        </p2>
                    </form>
                    <div class="whitespace"></div>
                </p2>
            </div>
            <div class="content">
                <p><strong></strong><br><br></p>
            </div>
            <div class="footer">
                <section class="button">
                    <ul>
                        <li><a href="addressLink_PlaceHolder">Link for Professors/TAs</a></li>
                        <li><a href="addressLink_PlaceHolder">Link for Moderator</a></li>
                        <li><a href="addressLink_PlaceHolder">Link for Admin</a></li>
                        <li><a href="addressLink_PlaceHolder">How to be a Moderator</a></li>
                        <li><a href="addressLink_PlaceHolder">Contact Us</a></li>
                    </ul>
                    <br> Copyright @ 2021 Fast Learning
                </section>
            </div>
        </div>
    </body>
</html>