/*Home Page CSS File*/







/*NAVIGATION BAR START*/



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: darkred;
}

/*NAVIGATION BAR END*/


/*Side Bar*/
.sidebar{
    length: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
}

.sidebar a:hover{
    color: #f1f1f1;
}

.main{
    margin-left: 160px;
    padding: 0px 10px;
    text-align: center;
}



/*HEADER*/

#container1{
    opacity: .40;
    height: 400px;
    width: 1423px;
    padding-bottom: 200px;
}

#header1{
    position: absolute;
    top: 60px;
    left: 16px;
    color: #333;
}

h2{
text-align: center;
}

/*END*/


/*BODY*/


.whitespace{
    padding-bottom: 50px;
}

.whitespace1{
    padding-bottom: 500px;
}

section{
    background-color: #333;
    text-align: center;
    font-family: ;
}



/* FOOTER*/

.button {
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 1px;
  cursor: pointer;
  display: block;
  color: white;
  background-color: #111;
}

.image2{
    height: 50px;
    width: 1423px;
}

